# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# .tfvars files
*.tfvars

# Override files
override.tf

# .terraformrc
.terraformrc

# terraform.rc
terraform.rc

.terraform.lock.hcl

.DS_Store